name: CD

on:
  pull_request:
    branches:
      - production
    types:
      - closed

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    environment: production

    steps:
    - name: Checkout application repository
      uses: actions/checkout@v6
    - run: |-
        ls -al
        git branch -a
        echo ${{ vars.TEST_A }}
