name: Checkout2

on:
  pull_request:
    branches:
      - master
      - production
    types:
      - closed

jobs:
  checkout:
    name: Checkout
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - uses: ./.github/actions/checkout2

